* {
    box-sizing: border-box;
}

:root {
    
    /* Fonts */
    --primary-font: 'Roboto', sans-serif;
    
    --fw-light: 100;
    --fw-reg: 400;
    --fw-bold: 700;

    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-a: 1.5rem;
    --fs-p: 1.25rem;

    /* Colors */
    --light-clr: rgb(225, 225, 225);
    --mid-clr: rgb(50, 50, 50);
    --dark-clr: rgb(10, 10, 10);
    --accent-clr: rgb(0, 200, 0);

    /* Glow */
    --glow-animation: glow 1s ease-in-out infinite alternate;
    --glow-shadow: 
        0 0 10px hsl(0, 0%, 100%), 
        0 0 20px hsl(0, 0%, 80%), 
        0 0 30px hsl(0, 0%, 60%), 
        0 0 40px hsl(0, 0%, 40%), 
        0 0 50px hsl(0, 0%, 20%);
}

html {
    scroll-behavior: smooth;
}

/*----------------------------------------------------------------------------------------------------*/

body {
    background-color: var(--dark-clr);
    color: var(--dark-clr);
    font-family: var(--primary-font);
    font-weight: var(--fw-reg);
    margin: 0;
    line-height: 1.5;
}

/*----------------------------------------------------------------------------------------------------*/
/* Typography */

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-light);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-light);
}

p {
    font-size: var(--fs-p);
}

a {
    font-size: var(--fs-a);
    color: var(--light-clr);
    text-decoration: none;
}

a:hover {
    color: var(--accent-clr);
}

.glow {
    text-shadow: var(--glow-shadow);
  }

/*----------------------------------------------------------------------------------------------------*/
/* Header */

header {
    background-color: var(--dark-clr);
    color: var(--light-clr);

    display: flex;
    justify-content: space-between;

    padding: 0 1rem;
}

#name {
    padding: 0 1rem;
}

.nav {
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.nav-item a {
    color: var(--light-clr);
    font-size: var(--fs-h2);
    text-decoration: none;
    padding: 0 1rem;
}

.nav-item a:hover {
    color: var(--accent-clr);
}

/*----------------------------------------------------------------------------------------------------*/
/* Intro */

#intro {
    background-color: var(--dark-clr);
    color: var(--light-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 800px;
}

#intro #sketch-div {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

/*----------------------------------------------------------------------------------------------------*/
/* About */

#about {
    background-color: var(--light-clr);
    color: var(--dark-clr);
    padding: 3rem 0 5rem;
}

#about h2 {
    background-color: var(--dark-clr);
    color: var(--light-clr);
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 0 auto 2rem;
    max-width: 300px;
}

#about .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 3rem;
    flex-basis: 75%;
    padding: 0 1rem;
}

#about img {
    max-width: 400px;
}

#about p {
    max-width: 600px;
    text-align: justify;
    margin: 0;
    width: minmax(30em, 50em);
}

/*----------------------------------------------------------------------------------------------------*/
/* Projects */

main {
    background-color: var(--dark-clr);
    color: var(--light-color);
    padding: 3rem 0 0;
    text-align: center;
}

main h2 {
    color: var(--light-clr);
    border: 3px solid var(--accent-clr);
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 0 auto 2rem;
    max-width: 300px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 0;
}

.project-item {
    /* background: var(--clr-accent); */
    overflow: hidden;
}

.project-img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
        
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.project-item:focus {
    position: relative;
    z-index: 2;
}

.project-img:hover,
.project-item:focus .portfolio-img {
    /* transform: scale(1.2); */
    opacity: .5;
}

/*----------------------------------------------------------------------------------------------------*/
/* Contact */

footer {
    background: rgb(10,100,10);
    background: linear-gradient(0deg, rgba(10,100,10,1) 0%, rgba(10,10,10,1) 100%);
    color: var(--accent-clr);
    padding: 0;
}

footer a {
    display: block;
    text-align: center;
}

#email {
    padding: 4rem 0 0.5rem;
}

#phone {
    padding: 0.5rem 0 0.5rem;
}

#github {
    padding: 0.5rem 0 4rem;
}

