

body {
    background-color: black;
    color: white;
}

iframe {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#description {
    width: 800px;
    margin: auto;
    padding: 1rem;
}