

body {
    background-color: black;
    color: white;
}

h1{
	text-align: center;
	margin-left: 50px;
	font-size: 30px;
	font-family: 'Work Sans', sans-serif;
	color: white;
}

p{
	display: block;
	text-align: center;
	font-size: 10px;
	font-family: 'Work Sans', sans-serif;
	color: white;
}

iframe {
    display: block;
    margin: 0 auto;
    padding: 1rem;
}

#description {
    width: 100%;
    margin: auto;
    padding: 1rem;
}