/* destroyer - style sheet */

:root {
	--roboto: 'Roboto', sans-serif;

	/*Colors*/
    --light-color: rgb(220, 220, 220);
    --mid-color: rgb(80, 80, 80);
    --dark-color: rgb(10, 10, 10);
    --accent-color: rgb(0, 200, 0);
}

body {
	margin: 0;
	background-color: var(--dark-color);
	color: var(--light-color);
} 

.destroyer-container {
	grid-column: 1 / span 12;
	grid-row: 2 / span 1;
}

.destroyer-title {
	text-align: center;
	font-size: 2rem;
	font-family: var(--roboto);
	font-weight: var(--fw-bold);
	color: var(--light-color);
	background-color: rgb(60, 120, 60);
	border: 5px solid red;
	width: 30%;
	margin: 3rem auto 0;
}

.destroyer-subtitle {
	text-align: center;
	font-size: 1.5rem;
	font-family: var(--roboto);
	margin: 1rem 0 2rem;
}

#sketch-div-destroyer {
	width: 100vmin;
	height: 133vmin;
	margin: 2rem 0 2rem 0;
	border: 5px solid red;
}

@media (min-width: 800px) {
	#sketch-div-destroyer {
		height: 80vmin;
		width: 60vmin;
		margin: auto;
	}
}

.destroyer-description {
	width: 60vmin;
	min-width: 50ch;
	max-width: 75ch;
	margin: 1rem auto 5rem auto;
	font-family: var(--roboto);
}

.destroyer-description p{
	display: block;
	text-align: left;
	font-size: 1rem;
	line-height: 1.4;
	padding: 20px 0 0 0;
}

