body{
	background-color: rgb(50, 50, 50);
}

#sketch-div {
	aspect-ratio: 4/3;
	overflow: hidden;
	padding: 20px;
	margin: 100px;
	display: block;
	border: 4px dotted rgb(0, 200, 0);
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
	color: red;
}